<!DOCTYPE html>
{% load staticfiles %}

{% url 'events:public' as events_public %}
{% url 'events:private' as events_private %}
{% url 'events:friends' as events_friends %}
{% url 'events:create' as events_create %}
{% url 'account_signup' as account_signup %}
{% url 'account_login' as account_login %}
{% url 'account_logout' as account_logout %}
{% url 'userprofiles:profile' user.username as user_profile %}
{% url 'userprofiles:friends' user.username as friends_url %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        Eventful! - {% block title %}{% endblock %}
    </title>

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    {% if not 'timezone' in request.COOKIES and request.path != account_signup and request.path != account_login %}
        {% include 'userprofiles/snippets/timezone_picker_js.html' %}
    {% endif %}

    {% block script_head %}
    {% endblock %}

    {% block style %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="{% url 'admin:index' %}">Eventful!</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if request.path == '/' %} class="active" {% endif %}><a href="/">Home</a></li>
                <li class="{% if request.path == events_public or request.path == events_private or request.path == events_friends %}active {% endif %} dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ events_public }}">Public</a></li>
                        <li><a href="{{ events_private }}">Private</a></li>
                        <li><a href="{{ events_friends }}">Friends</a></li>
                    </ul>
                </li>
                <li {% if request.path == events_create %} class="active" {% endif %}><a href="{{ events_create }}">Create event</a></li>
                <li {% if request.path == friends_url %} class="active" {% endif %}><a href="{{ friends_url }}">Friends</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="margin-right: 5px;">
                    <div class="btn-nav" title="Timezone">
                        <a href="{% url 'set_timezone' %}" class="btn btn-primary btn-sm navbar-btn">
                            <span class="glyphicon glyphicon glyphicon-globe" aria-hidden="true">
                            </span> &nbsp;{{ TIME_ZONE }}
                        </a>
                    </div>
                </li>
                {% if user.is_authenticated %}
                    <li {% if request.path == user_profile %} class="active" {% endif %}><a href="{{ user_profile }}">Profile</a></li>
                    <li {% if request.path == account_logout %} class="active" {% endif %}><a href="{{ account_logout }}"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                {% else %}
                    <li {% if request.path == account_signup %} class="active" {% endif %}><a href="{{ account_signup }}">Register</a></li>
                    <li {% if request.path == account_login %} class="active" {% endif %}><a href="{{ account_login }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" style="margin: 70px 50px 0 50px;">
    {% if messages %}
        <div class="row">
        {% for message in messages %}
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-{{ message.tags|lower }} alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ message }}</strong>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if not 'timezone' in request.COOKIES and request.path != account_signup and request.path != account_login %}
        {% include 'userprofiles/snippets/timezone_picker_row.html' with base_template=True redirect_to=request.path %}
    {% else %}
        {% block content %}
        {% endblock %}
    {% endif %}
</div>
</body>
</html>