{% extends 'base.html' %}

{% load l10n %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title %}
    Create event.
{% endblock %}

{% block script_head %}
    <script src="{% static 'js/moment-with-locales.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#div_id_start_date').find('.input-group:first').addClass('date').attr('id', 'datetimepicker');
            $('#datetimepicker').datetimepicker({
                toolbarPlacement: 'bottom',
                showClose: true,
                showTodayButton: true,
                showClear: true,
                allowInputToggle: true,
                locale: '{{ LANGUAGE_CODE }}',
                format: 'DD.MM.YYYY HH:mm ZZ',
                sideBySide: true,
                minDate: moment()
            })
        });
    </script>
{% endblock %}

{% block style %}
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% localize off %}
    <div class="well">
        <form id="event-form" method="POST" action="{{ request.path }}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    {% crispy form %}
                    <div class="col-md-6">
                        {# place for location #}
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary center-block" type="submit" name="submit">
                    {% if event %}Update event{% else %}Create event{% endif %}
                </button>
            </div>
        </form>
    </div>
    {% endlocalize %}
{% endblock %}