{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    Event Invites
{% endblock %}

{% block script_head %}
    <script>var csrf_token = '{{ csrf_token }}'</script>
    <script src="{% static 'js/invitation.js' %}"></script>
{% endblock %}


{% block content %}
    <br>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a data-toggle="pill" href="#pendingInvites">Pending invites</a></li>
                <li><a data-toggle="pill" href="#selfInvites">Self invites</a></li>
                <li><a data-toggle="pill" href="#acceptedInvites">Accepted invites</a></li>
                <li><a data-toggle="pill" href="#rejectedInvites">Rejected invites</a></li>
                <li><a data-toggle="pill" href="#sentInvites">Sent invites</a></li>
            </ul>
        </div>

    </div>

    <hr>
    <br>

    <div class="tab-content">
        <div id="pendingInvites" class="row tab-pane fade in active">
            <div class="col-md-6 col-md-offset-3">
                <ul class="list-group">
                    {% for invite in pending %}
                        <li class="list-group-item">
                            <div class="row vcenter">
                                <div class="col-md-8 dots text-nowrap">
                                    <strong>
                                        <i title="Event" class="fa fa-calendar" aria-hidden="true"></i>&nbsp; <a class="text-info"
                                            href="{% url 'event:detail' invite.event.pk %}">{{ invite.event.title }}</a>
                                    </strong>
                                    <br>
                                    <i title="Created by" class="fa fa-user-o" aria-hidden="true"></i>&nbsp; <a class="text-muted"
                                        href="{% url 'userprofiles:profile' invite.from_user.username %}">{{ invite.from_user.username }}</a>
                                </div>
                                <div title="Accept" class="col-md-2">
                                    <button data-url="{% url 'event:accept' invite.event.pk %}"
                                            data-change="Accepted"
                                            class="actionRequestBtn btn btn-block btn-primary">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div title="Reject" class="col-md-2">
                                    <button data-url="{% url 'event:reject' invite.event.pk %}"
                                            data-change="Rejected"
                                            class="actionRequestBtn btn btn-block btn-default">
                                        <i class="fa fa-close" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div id="selfInvites" class="row tab-pane fade">
            <div class="col-md-6 col-md-offset-3">
                <ul class="list-group">
                    {% for invite in self %}
                        <li class="list-group-item">
                            <div class="row vcenter">
                                <div class="col-md-10 dots text-nowrap">
                                    <strong>
                                        <i title="Event" class="fa fa-calendar" aria-hidden="true"></i>&nbsp; <a class="text-info"
                                            href="{% url 'event:detail' invite.event.pk %}">{{ invite.event.title }}</a>
                                    </strong>
                                </div>
                                <div title="Leave event" class="col-md-2">
                                    <button data-url="{% url 'event:self_remove' invite.event.pk %}"
                                            data-change="Left"
                                            class="actionRequestBtn btn btn-block btn-primary">
                                        <i class="fa fa-close" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div id="acceptedInvites" class="row tab-pane fade">
            <div class="col-md-6 col-md-offset-3">
                <ul class="list-group">
                    {% for invite in accepted %}
                        <li class="list-group-item">
                            <div class="row vcenter">
                                <div class="col-md-8 dots text-nowrap">
                                    <strong>
                                        <i title="Event" class="fa fa-calendar" aria-hidden="true"></i>&nbsp; <a class="text-info"
                                            href="{% url 'event:detail' invite.event.pk %}">{{ invite.event.title }}</a>
                                    </strong>
                                    <br>
                                    <i title="Invited by" class="fa fa-user-o" aria-hidden="true"></i>&nbsp; <a class="text-muted"
                                        href="{% url 'userprofiles:profile' invite.from_user.username %}">{{ invite.from_user.username }}</a>
                                </div>
                                <div title="Change to pending" class="col-md-2">
                                    <button data-url="{% url 'event:pend' invite.event.pk %}"
                                            data-change="Changed"
                                            class="actionRequestBtn btn btn-block btn-primary">
                                        <i class="fa fa-hourglass-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div title="Reject" class="col-md-2">
                                    <button data-url="{% url 'event:reject' invite.event.pk %}"
                                            data-change="Rejected"
                                            class="actionRequestBtn btn btn-block btn-default">
                                        <i class="fa fa-close" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div id="rejectedInvites" class="row tab-pane fade">
            <div class="col-md-6 col-md-offset-3">
                <ul class="list-group">
                    {% for invite in rejected %}
                        <li class="list-group-item">
                            <div class="row vcenter">
                                <div class="col-md-8 dots text-nowrap">
                                    <strong>
                                        <i title="Event" class="fa fa-calendar" aria-hidden="true"></i>&nbsp; <a class="text-info"
                                            href="{% url 'event:detail' invite.event.pk %}">{{ invite.event.title }}</a>
                                    </strong>
                                    <br>
                                    <i title="Invited by" class="fa fa-user-o" aria-hidden="true"></i>&nbsp; <a class="text-muted"
                                        href="{% url 'userprofiles:profile' invite.from_user.username %}">{{ invite.from_user.username }}</a>
                                </div>
                                <div title="Accept" class="col-md-2">
                                    <button data-url="{% url 'event:accept' invite.event.pk %}"
                                            data-change="Accepted"
                                            class="actionRequestBtn btn btn-block btn-primary">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div title="Change to pending" class="col-md-2">
                                    <button data-url="{% url 'event:pend' invite.event.pk %}"
                                            data-change="Changed"
                                            class="actionRequestBtn btn btn-block btn-default">
                                        <i class="fa fa-hourglass-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div id="sentInvites" class="row tab-pane fade">
            <div class="col-md-6 col-md-offset-3">
                <ul class="list-group">
                    {% for invite in sent %}
                        <li class="list-group-item">
                            <div class="row vcenter">
                                <div class="col-md-10 dots text-nowrap">
                                    <strong>
                                        <i title="Event" class="fa fa-calendar" aria-hidden="true"></i>&nbsp; <a class="text-info"
                                            href="{% url 'event:detail' invite.event.pk %}">{{ invite.event.title }}</a>
                                    </strong>
                                    <br>
                                    <i title="User invited" class="fa fa-user-o" aria-hidden="true"></i>&nbsp; <a class="text-muted"
                                        href="{% url 'userprofiles:profile' invite.to_user.username %}">{{ invite.to_user.username }}</a>
                                </div>
                                <div title="Remove" class="col-md-2">
                                    <button data-pk="{{ invite.to_user.pk }}"
                                            data-url="{% url 'event:remove' invite.event.pk %}"
                                            data-change="Removed"
                                            class="actionRequestBtn btn btn-block btn-primary">
                                        <i class="fa fa-close" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}