{% load l10n %}
{% load markdown from markdown %}
<div class="row">

{% if events %}
    {% for event in events %}
        <div class="col-md-3 col-sm-4 col-xs-4 event">
            {% localize off %}
            <div id="data-latlon" class="dnone" data-lat="{{ event.latitude }}" data-lon="{{ event.longitude }}"></div>
            {% endlocalize %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-nowrap dots">
                        {% for invite in event.user_invite %}
                            {% if invite.status == 'A' or invite.status == 'S' %}
                                <span class="text-success glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {% elif invite.status == 'P' %}
                                <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>
                            {% elif invite.status == 'R' %}
                                <span class="text-danger glyphicon glyphicon-remove" aria-hidden="true"></span>
                            {% endif %}
                        {% endfor %}
                        <a class="text-info" id="data-url-title" href="{% url 'event:detail' event.pk %}" title="{{ event.title }}">
                            <span class="fa fa-calendar"></span>
                            {{ event.title }}
                        </a>
                        <br>
                    </div>
                    <div class="row text-nowrap dots">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-left">
                            <small id="data-start-date" data-start-date="{{ event.start_date|date:'c' }}" class="text-muted">{{ event.start_date }}</small>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <small class="text-muted">{{ event.get_privacy_display }}</small>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="text-nowrap dots">
                        <small id="data-desc">{{ event.description|markdown|striptags }}&nbsp;</small>
                    </div>
                </div>
                <div class="panel-footer" style="padding-top: 0; padding-bottom: 0">
                    <div class="row">
                    <div class="col-md-12">
                    <div class="pull-left">
                        <small>
                             <i class="fa fa-user-o fa-fw" aria-hidden="true"></i>
                            <a id="data-username" href="{% url 'userprofiles:profile' event.created_by.username %}">{{ event.created_by.username }}</a>
                        </small>
                    </div>
                    <div class="pull-right">
                        <small title="Attendance">
                            <i class="fa fa-group fa-fw" aria-hidden="true"></i> {{ event.num_att }}
                        </small>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="text-center" style="padding: 100px">No events available.</div>
{% endif %}
</div>