<ul class="list-group">
    {% for user_inv in users %}
        <li class="list-group-item">
            <div class="row vcenter">
                <div class="col-md-8 nowrap dots">
                    <a href="{% url 'userprofiles:profile' user_inv.username %}">
                        <strong>{{ user_inv.username }}</strong>
                    </a>
                    <br>
                    <small class="text-nowrap">{{ user_inv.first_name }} {{ user_inv.last_name }}&nbsp;</small>
                </div>
                <div class="col-md-4">
                    <button data-pk="{{ user_inv.pk }}"
                            data-url="{% url 'event:remove' event.pk %}"
                            data-change="Removed"
                            class="actionRemoveInviteBtn btn btn-danger btn-sm btn-block">
                        Remove
                    </button>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>