.dots {
    overflow: hidden;
    text-overflow: ellipsis;
}

pre {
    border: 0;
    background-color: transparent;
    font-family: inherit;
}

.asteriskField {
    display: none;
}

.hideEvent {
    display: none;
}

.underInfo {
    position: absolute;
    left: 50%;
    top: 20px;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.vcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notify {
    position: absolute;
    top: 5px;
    right: 4px;
}

.leaflet-container {
    border-radius: 10px;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.dnone {
    display: none;
}

#mapCalHidden {
    min-height: 500px;
    display: none;
}

.text-light {
    color: #ffffff;
}

.tz-select {
    color: inherit;
    background-color: inherit;
    font: inherit;
}

.tz-select:hover {
    color: inherit;
    background-color: inherit;
    font: inherit;
}

.tz-select:focus {
    color: inherit;
    background-color: inherit;
    font: inherit;
}

#tz {
    -moz-appearance: none;
    -webkit-appearance: none;
}