.dots {
        overflow: hidden;
        text-overflow: ellipsis;
    }

pre {
    border: 0;
    background-color: transparent;
    font-family: inherit;
}

.asteriskField {
    display: none;
}

.hideEvent {
    display: none;
}

.underInfo {
    position: absolute;
    left: 50%;
    top: 20px;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.vcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notify {
    position: relative;
    top: -10px;
    left: -4px;
}