.dots {
        overflow: hidden;
        text-overflow: ellipsis;
    }

pre {
    border: 0;
    background-color: transparent;
    font-family: inherit;
}

.asteriskField {
    display: none;
}

.hideEvent {
    display: none;
}

.underInfo {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}