.dots {
    overflow: hidden;
    text-overflow: ellipsis;
}

pre {
    border: 0;
    background-color: transparent;
    font-family: inherit;
}

.asteriskField {
    display: none;
}

.hideEvent {
    display: none;
}

.vcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notify {
    position: absolute;
    top: 5px;
    right: 4px;
}

.leaflet-container {
    border-radius: 10px;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.dnone {
    display: none;
}

#mapCalHidden {
    min-height: 500px;
    display: none;
}

.text-light {
    color: #ffffff;
}

.tz-select {
    color: inherit;
    background-color: inherit;
    font: inherit;
}

.tz-select:hover {
    color: inherit;
    background-color: inherit;
    font: inherit;
}

.tz-select:focus {
    color: inherit;
    background-color: inherit;
    font: inherit;
}

#tz {
    -moz-appearance: none;
    -webkit-appearance: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.list-group-item.event:hover {
    background-color: transparent;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container-fluid {
    flex: 1;
}

footer {
    background-color: black;
    opacity: 0.5;
    padding: 10px;
}