{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Friends{% endblock %}

{% block script_head %}
    <script>var csrf_token = '{{ csrf_token }}'</script>
    <script src="{% static 'js/invitation.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="well text-center"><strong>Friends</strong></div>
            {% if friends %}
                <ul class="list-group">
                    {% for friend in friends %}
                        <li class="list-group-item">
                            <div class="row vcenter">
                                <div class="col-md-8 text-nowrap dots">
                                    <a href="{% url 'userprofiles:profile' friend.username %}">
                                        <strong>{{ friend.username }}</strong>
                                    </a>
                                    <br>
                                    <small>{{ friend.first_name }} {{ friend.last_name }}&nbsp;</small>
                                </div>
                                <div class="col-md-4">
                                    <button data-pk="{{ friend.pk }}"
                                            data-url="{% url 'userprofiles:remove_friend' friend.username %}"
                                            data-change="Removed"
                                            class="actionRequestBtn btn btn-primary btn-sm btn-block">
                                        Remove <i class="fa fa-close" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <br>
                <div class="text-center">No friends</div>
            {% endif %}
        </div>

        <div class="col-md-4">
            <div class="well text-center"><strong>Received friend requests</strong></div>
            {% if pending %}
                <ul class="list-group">
                    {% for p_request in pending %}
                        <li class="list-group-item">
                            <div class="row vcenter">
                                <div class="col-md-6 text-nowrap dots">From:
                                    <a href="{% url 'userprofiles:profile' p_request.from_user.username %}">
                                        <strong>{{ p_request.from_user.username }}</strong>
                                    </a>
                                    <br>
                                    <small>{{ p_request.from_user.first_name }} {{ p_request.from_user.last_name }}&nbsp;</small>
                                </div>
                                <div class="col-md-3">
                                    <button data-pk="{{ p_request.from_user_id }}"
                                            data-url="{% url 'userprofiles:accept_friend_request' p_request.from_user.username %}"
                                            data-change="Accepted"
                                            class="actionRequestBtn btn btn-primary btn-sm btn-block">
                                        Accept <i class="fa fa-check" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button data-pk="{{ p_request.from_user_id }}"
                                            data-url="{% url 'userprofiles:reject_friend_request' p_request.from_user.username %}"
                                            data-change="Rejected"
                                            class="actionRequestBtn btn btn-primary btn-sm btn-block">
                                        Reject <i class="fa fa-close" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <br>
                <div class="text-center">No invitations received</div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <div class="well text-center"><strong>Sent friend requests</strong></div>
            {% if sent %}
                <ul class="list-group">
                    {% for s_request in sent %}
                        <li class="list-group-item">
                            <div class="row vcenter">
                                <div class="col-md-8 text-nowrap dots">To:
                                    <a href="{% url 'userprofiles:profile' s_request.to_user.username %}">
                                        <strong>{{ s_request.to_user.username }}</strong>
                                    </a>
                                    <br>
                                    <small>{{ s_request.from_user.first_name }} {{ s_request.from_user.last_name }}&nbsp;</small>
                                </div>
                                <div class="col-md-4">
                                    <button data-pk="{{ s_request.to_user_id }}"
                                            data-url="{% url 'userprofiles:reject_friend_request' s_request.to_user.username %}"
                                            data-change="Removed"
                                            class="actionRequestBtn btn btn-primary btn-sm btn-block">
                                        Remove <i class="fa fa-close" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <br>
                <div class="text-center">No sent requests</div>
            {% endif %}
        </div>
    </div>
{% endblock %}