{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    {{ requested_user.username }}
{% endblock %}

{% block script_head %}
    <script src="{% static 'js/events/hide_show_event.js' %}"></script>
    <script>var csrf_token = '{{ csrf_token }}';</script>
    <script src="{% static 'js/invitation.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <span class="glyphicon glyphicon-user"></span>
                    <div class="text-nowrap dots">{{ requested_user.username }}</div>
                    <br>
                    <div>
                        {% if user == requested_user %}
                            <a href="{% url 'userprofiles:update' requested_user.username %}" class="btn btn-default btn-sm btn-block">Update profile</a>
                            <a href="{% url 'account_change_password' %}" class="btn btn-default btn-sm btn-block">Change password</a>
                        {% elif user.is_authenticated %}
                            {% if invite_status %}
                                {% if invite_status == 'A' %}
                                    <button id="removeFriendBtn" data-pk="{{ requested_user.pk }}" data-url="{% url 'invitations:reject_friend_request' %}" data-change="Removed" class="btn btn-success btn-sm btn-block">Friends <span class="glyphicon glyphicon-ok"></span></button>
                                {% elif invite_status == 'P' %}
                                    <button class="btn btn-info btn-sm btn-block" disabled>Friend request has been sent</button>
                                {% elif invite_status == 'D' %}
                                    <button class="btn btn-info btn-sm btn-block">{{ requested_user.username }} has sent invitation to you</button>
                                {% endif %}
                            {% else %}
                                <button data-pk="{{ requested_user.pk }}" data-url="{% url 'invitations:send_friend_request' %}" data-change="Invite sent" class="actionRequestBtn btn btn-primary btn-sm btn-block">Send friend request</button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="panel-body" style="padding: 1px;">
                    <br>
                    <div class="row">
                        <div class="col-xs-3 text-right"><strong>First name:</strong></div>
                        <div class="col-xs-9 text-nowrap dots">{{ requested_user.first_name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 text-right"><strong>Last name:</strong></div>
                        <div class="col-xs-9 text-nowrap dots">{{ requested_user.last_name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 text-right"><strong>Email:</strong></div>
                        <div class="col-xs-9 text-nowrap dots">{{ requested_user.email }}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 text-right"><strong>Website:</strong></div>
                        <div class="col-xs-9 text-nowrap dots"><a href="{{ requested_user.profile.website }}">{{ requested_user.profile.website }}</a></div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% if user == requested_user %}
                {% include 'events/snippets/events_tabs.html' %}
            {% else %}
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">Public events</div>
                </div>
                {% include 'events/snippets/time_frame_btns.html' %}
                <br>
                {% include 'events/snippets/events_list_group.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}