{% load staticfiles %}
{% if not 'timezone' in request.COOKIES and 'account' not in request.path and 'timezone' not in request.path %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js" integrity="sha256-/ioiJhI6NkoUDkSyBru7JZUGXGQhdml6amBC3ApTf5A=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.13/moment-timezone-with-data.min.js" integrity="sha256-Mbm+oB/+8ujzEer9u83ZRKEhlPohbY9USJ4VpxiNR9w=" crossorigin="anonymous"></script>
    <script>
        var title = `
        <div class="row vcenter">
            <div class="col-md-10">
                <span class="text-info"><strong>Choose a time zone</strong></span>
            </div>
            <div class="col-md-1">
                <button id="close" class="close" onclick="hideTzPop();">&times;</button>
            </div>
        </div>
        `;
        var content = `
        <div class="text-center">
        To ensure that dates and times are displayed correctly, you can change your time zone anytime.
        </div>
        `;

        function hideTzPop() {
            $('#tzBtn').popover('hide');
        }

        $(function () {
            $('#tzBtn').popover({
                    placement: 'bottom',
                    html: 'true',
                    trigger: 'manual',
                    title: title,
                    content: content,
                    container: 'body',
                }).popover('show');
        });
    </script>
{% endif %}