<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script>
    function setUpTzSelect() {
        $('#tz').selectpicker({
            template: {
                caret: '<span class="fa fa-globe"></span>'
            },
            container: 'body',
            dropupAuto: false,
            style: 'tz-select',
            liveSearch: true,
        });
    }

    {% if template == 'signup.html' %}
        $(function () {
            var url = '{% url 'set_timezone' %}';
            $.get(url, function (result) {
                $('#tz').html(result);
                setUpTzSelect();
            });
        });
    {% else %}
        setUpTzSelect();
        $('.dnone').show();
    {% endif %}
</script>