<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="well">
            {% if base_template %}
                <h4 class="text-center">Guessed timezone: <strong><span id="tz-guess"></span></strong></h4>
                <div class="text-center">
                    To ensure that dates and times are displayed correctly, please set your timezone below, or
                    <a href="{% url 'account_login' %}">log in</a> / <a href="{% url 'account_signup' %}">register</a>.
                </div>
                <br>
            {% endif %}
            <form method="POST" action="{% url 'set_timezone' %}">
                {% csrf_token %}
                <div id="tz-picker">
                    {% include 'userprofiles/snippets/timezone_picker_select_form.html' %}
                </div>
                <input class="hidden" title="reload" name="redirect_to" value="{{ redirect_to }}">
                <button class="btn btn-primary center-block" type="submit" name="submit" style="width: 150px;">
                    <strong>{% if request.user.is_authenticated %}Change timezone{% else %}Set timezone{% endif %}</strong></button>
            </form>
        </div>
    </div>
</div>